body {
    margin: 0;
    background: url("bg.png");
    background-size: cover;
    font-family: Arial, sans-serif;
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#startBtn {
    padding: 15px 40px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#gameCanvas {
    display: none;
    border: 3px solid black;
    margin: auto;
    display: block;
}
